In [2]:
ls

 Volume in drive C is OS
 Volume Serial Number is F0C6-5822

 Directory of C:\Users\Public.machine_2\Documents\datasets\NEEA\raw\2018-Full_v8.1\2018\power

11-11-2024  11:14    <DIR>          .
07-11-2024  16:03    <DIR>          ..
08-11-2024  12:16    <DIR>          .ipynb_checkpoints
11-11-2024  11:14            89,856 dataset_cleaning.ipynb
18-04-2024  16:49             8,805 power-fifteen-20180829.csv
18-04-2024  16:49           299,706 power-fifteen-20180830.csv
18-04-2024  16:49           407,321 power-fifteen-20180831.csv
18-04-2024  16:49           409,034 power-fifteen-20180901.csv
18-04-2024  16:49           408,865 power-fifteen-20180902.csv
18-04-2024  16:49           408,863 power-fifteen-20180903.csv
18-04-2024  16:49           407,519 power-fifteen-20180904.csv
18-04-2024  16:49           407,784 power-fifteen-20180905.csv
18-04-2024  16:49           481,931 power-fifteen-20180906.csv
18-04-2024  16:49           503,973 power-fifteen-20180907.csv
18-04-2024  16:49           581,204 power-fifteen-20180908.csv
18-04-2024  16:49           591,845 power-fifteen-20180909.csv
18-04-2024  16:49           592,829 power-fifteen-20180910.csv
18-04-2024  16:49           678,697 power-fifteen-20180911.csv
18-04-2024  16:49           723,659 power-fifteen-20180912.csv
18-04-2024  16:49           948,764 power-fifteen-20180913.csv
18-04-2024  16:49         1,264,684 power-fifteen-20180914.csv
18-04-2024  16:49         1,477,903 power-fifteen-20180915.csv
18-04-2024  16:49         1,658,381 power-fifteen-20180916.csv
18-04-2024  16:49         1,749,905 power-fifteen-20180917.csv
18-04-2024  16:49         1,826,708 power-fifteen-20180918.csv
18-04-2024  16:49         2,015,169 power-fifteen-20180919.csv
18-04-2024  16:49         2,097,905 power-fifteen-20180920.csv
18-04-2024  16:49         2,100,783 power-fifteen-20180921.csv
18-04-2024  16:49         2,081,346 power-fifteen-20180922.csv
18-04-2024  16:49         2,081,386 power-fifteen-20180923.csv
18-04-2024  16:49         2,080,119 power-fifteen-20180924.csv
18-04-2024  16:49         2,085,244 power-fifteen-20180925.csv
18-04-2024  16:50         2,104,369 power-fifteen-20180926.csv
18-04-2024  16:50         2,103,548 power-fifteen-20180927.csv
18-04-2024  16:50         2,092,782 power-fifteen-20180928.csv
18-04-2024  16:50         2,090,241 power-fifteen-20180929.csv
18-04-2024  16:50         2,092,262 power-fifteen-20180930.csv
18-04-2024  16:50         2,105,276 power-fifteen-20181001.csv
18-04-2024  16:50         2,401,700 power-fifteen-20181002.csv
18-04-2024  16:50         2,857,803 power-fifteen-20181003.csv
18-04-2024  16:50         3,234,590 power-fifteen-20181004.csv
18-04-2024  16:50         3,472,045 power-fifteen-20181005.csv
18-04-2024  16:50         3,572,352 power-fifteen-20181006.csv
18-04-2024  16:50         3,722,276 power-fifteen-20181007.csv
18-04-2024  16:50         3,737,865 power-fifteen-20181008.csv
18-04-2024  16:50         3,969,587 power-fifteen-20181009.csv
18-04-2024  16:50         4,176,260 power-fifteen-20181010.csv
18-04-2024  16:50         4,373,582 power-fifteen-20181011.csv
18-04-2024  16:50         4,583,076 power-fifteen-20181012.csv
18-04-2024  16:50         4,820,766 power-fifteen-20181013.csv
18-04-2024  16:50         4,981,053 power-fifteen-20181014.csv
18-04-2024  16:50         5,305,833 power-fifteen-20181015.csv
18-04-2024  16:50         5,725,118 power-fifteen-20181016.csv
18-04-2024  16:50         6,000,236 power-fifteen-20181017.csv
18-04-2024  16:50         6,231,720 power-fifteen-20181018.csv
18-04-2024  16:50         6,300,795 power-fifteen-20181019.csv
18-04-2024  16:50         6,298,960 power-fifteen-20181020.csv
18-04-2024  16:50         6,302,805 power-fifteen-20181021.csv
18-04-2024  16:50         6,303,879 power-fifteen-20181022.csv
18-04-2024  16:50         6,211,947 power-fifteen-20181023.csv
18-04-2024  16:50         6,177,599 power-fifteen-20181024.csv
18-04-2024  16:50         6,236,634 power-fifteen-20181025.csv
18-04-2024  16:50         6,331,635 power-fifteen-20181026.csv
18-04-2024  16:50         6,338,437 power-fifteen-20181027.csv
18-04-2024  16:50         6,339,071 power-fifteen-20181028.csv
18-04-2024  16:50         6,339,617 power-fifteen-20181029.csv
18-04-2024  16:50         6,344,723 power-fifteen-20181030.csv
18-04-2024  16:50         6,455,741 power-fifteen-20181031.csv
18-04-2024  16:50         6,588,747 power-fifteen-20181101.csv
18-04-2024  16:50         6,733,200 power-fifteen-20181102.csv
18-04-2024  16:50         6,826,016 power-fifteen-20181103.csv
18-04-2024  16:50         6,881,886 power-fifteen-20181104.csv
18-04-2024  16:50         6,887,486 power-fifteen-20181105.csv
18-04-2024  16:50         6,919,600 power-fifteen-20181106.csv
18-04-2024  16:50         6,919,357 power-fifteen-20181107.csv
18-04-2024  16:50         6,931,953 power-fifteen-20181108.csv
18-04-2024  16:50         7,026,349 power-fifteen-20181109.csv
18-04-2024  16:50         7,024,615 power-fifteen-20181110.csv
18-04-2024  16:50         7,025,908 power-fifteen-20181111.csv
18-04-2024  16:50         7,026,867 power-fifteen-20181112.csv
18-04-2024  16:50         7,026,510 power-fifteen-20181113.csv
18-04-2024  16:50         7,049,376 power-fifteen-20181114.csv
18-04-2024  16:50         7,421,420 power-fifteen-20181115.csv
18-04-2024  16:50         7,423,322 power-fifteen-20181116.csv
18-04-2024  16:50         7,423,159 power-fifteen-20181117.csv
18-04-2024  16:50         7,422,647 power-fifteen-20181118.csv
18-04-2024  16:50         7,423,228 power-fifteen-20181119.csv
18-04-2024  16:50         7,423,983 power-fifteen-20181120.csv
18-04-2024  16:50         7,423,665 power-fifteen-20181121.csv
18-04-2024  16:50         7,422,649 power-fifteen-20181122.csv
18-04-2024  16:50         7,422,077 power-fifteen-20181123.csv
18-04-2024  16:50         7,421,207 power-fifteen-20181124.csv
18-04-2024  16:50         7,424,063 power-fifteen-20181125.csv
18-04-2024  16:50         7,307,687 power-fifteen-20181126.csv
18-04-2024  16:50         7,391,646 power-fifteen-20181127.csv
18-04-2024  16:50         7,419,038 power-fifteen-20181128.csv
18-04-2024  16:50         7,424,290 power-fifteen-20181129.csv
18-04-2024  16:50         7,447,915 power-fifteen-20181130.csv
18-04-2024  16:50         7,467,790 power-fifteen-20181201.csv
18-04-2024  16:50         7,469,485 power-fifteen-20181202.csv
18-04-2024  16:50         7,485,603 power-fifteen-20181203.csv
18-04-2024  16:50         7,584,868 power-fifteen-20181204.csv
18-04-2024  16:50         7,594,986 power-fifteen-20181205.csv
18-04-2024  16:50         7,599,360 power-fifteen-20181206.csv
18-04-2024  16:50         7,601,100 power-fifteen-20181207.csv
18-04-2024  16:50         7,598,061 power-fifteen-20181208.csv
18-04-2024  16:50         7,600,960 power-fifteen-20181209.csv
18-04-2024  16:50         7,597,248 power-fifteen-20181210.csv
18-04-2024  16:50         7,596,803 power-fifteen-20181211.csv
18-04-2024  16:50         7,596,371 power-fifteen-20181212.csv
18-04-2024  16:50         7,599,761 power-fifteen-20181213.csv
18-04-2024  16:50         7,600,098 power-fifteen-20181214.csv
18-04-2024  16:50         7,594,998 power-fifteen-20181215.csv
18-04-2024  16:50         7,628,753 power-fifteen-20181216.csv
18-04-2024  16:50         7,630,169 power-fifteen-20181217.csv
18-04-2024  16:50         7,629,597 power-fifteen-20181218.csv
18-04-2024  16:50         7,507,661 power-fifteen-20181219.csv
18-04-2024  16:50         7,419,803 power-fifteen-20181220.csv
18-04-2024  16:50         7,434,622 power-fifteen-20181221.csv
18-04-2024  16:50         7,500,796 power-fifteen-20181222.csv
18-04-2024  16:50         7,501,476 power-fifteen-20181223.csv
18-04-2024  16:50         7,502,280 power-fifteen-20181224.csv
18-04-2024  16:50         7,503,270 power-fifteen-20181225.csv
18-04-2024  16:50         7,499,996 power-fifteen-20181226.csv
18-04-2024  16:50         7,503,112 power-fifteen-20181227.csv
18-04-2024  16:50         7,511,405 power-fifteen-20181228.csv
18-04-2024  16:50         7,511,093 power-fifteen-20181229.csv
18-04-2024  16:50         7,509,843 power-fifteen-20181230.csv
18-04-2024  16:50         7,514,242 power-fifteen-20181231.csv
             126 File(s)    647,611,847 bytes
               3 Dir(s)  732,818,841,600 bytes free

In [3]:
import pandas as pd

In [6]:
import glob

In [8]:
df_list = []
files_list = glob.glob('*.csv')
for file in files_list:
    df = pd.read_csv(file)
    df_list.append(df)

In [9]:
df=pd.concat(df_list)

In [10]:
df.shape

(8666244, 8)

In [11]:
df

,ee_site_id,regname,min_t,max_t,n,power,apparent_power,pf
0,1566,CIRCUIT_11,2018-08-29 23:45:00,2018-08-29 23:59:00,5,0.000,0.000,NaN
1,1566,CIRCUIT_12,2018-08-29 23:45:00,2018-08-29 23:59:00,5,0.000,0.001,0.000
2,1566,CIRCUIT_13,2018-08-29 23:45:00,2018-08-29 23:59:00,5,0.000,0.000,NaN
3,1566,CIRCUIT_15,2018-08-29 23:45:00,2018-08-29 23:59:00,5,0.000,0.000,NaN
4,1566,CIRCUIT_16,2018-08-29 23:45:00,2018-08-29 23:59:00,5,0.000,0.000,NaN
...,...,...,...,...,...,...,...,...
99067,11226,Mains,2018-12-31 22:45:00,2018-12-31 22:59:00,15,0.598,0.739,0.809
99068,11226,Mains,2018-12-31 23:00:00,2018-12-31 23:14:00,15,0.682,0.789,0.864
99069,11226,Mains,2018-12-31 23:15:00,2018-12-31 23:29:00,15,0.634,0.757,0.838
99070,11226,Mains,2018-12-31 23:30:00,2018-12-31 23:44:00,15,2.431,2.647,0.918
99071,11226,Mains,2018-12-31 23:45:00,2018-12-31 23:59:00,15,0.745,0.871,0.855

In [12]:
df["regname"].value_counts()

regname
Mains                        583346
CIRCUIT_1                    521572
CIRCUIT_9                    449895
CIRCUIT_5                    416760
CIRCUIT_7                    396222
CIRCUIT_13                   393528
CIRCUIT_11                   388565
CIRCUIT_6                    379822
CIRCUIT_18                   374941
CIRCUIT_16                   374768
CIRCUIT_10                   367911
CIRCUIT_14                   355724
CIRCUIT_3                    347403
CIRCUIT_12                   341475
CIRCUIT_15                   338046
CIRCUIT_8                    338031
CIRCUIT_20                   333042
CIRCUIT_17                   315597
CIRCUIT_19                   294214
CIRCUIT_2                    270960
CIRCUIT_4                    267170
CIRCUIT_21                   209094
CIRCUIT_22                   181948
CIRCUIT_23                   123190
CIRCUIT_24                    77022
CIRCUIT_27                    53886
CIRCUIT_25                    50959
CIRCUIT_28                    34618
CIRCUIT_30                    20900
CIRCUIT_29                    20524
CIRCUIT_26                    12960
CIRCUIT_49                     5760
CIRCUIT_50                     4791
CIRCUIT_32                     4520
CIRCUIT_35                     4520
CIRCUIT_37                     4520
CIRCUIT_38                     4520
Mains_PanelA                   1554
Mains_PanelB                   1554
Mains_PanelB+OutdoorPanel       412
Name: count, dtype: int64

In [13]:
df=df[df["regname"]=="Mains"]

In [14]:
df.shape

(583346, 8)

In [15]:
df.head()

,ee_site_id,regname,min_t,max_t,n,power,apparent_power,pf
10,1566,Mains,2018-08-29 23:45:00,2018-08-29 23:59:00,5,1.322,1.514,0.873
11,8661,Mains,2018-08-29 00:00:00,2018-08-29 00:14:00,15,0.000,0.000,NaN
12,8661,Mains,2018-08-29 00:15:00,2018-08-29 00:29:00,15,0.000,0.000,NaN
13,8661,Mains,2018-08-29 00:30:00,2018-08-29 00:44:00,15,0.000,0.000,NaN
14,8661,Mains,2018-08-29 00:45:00,2018-08-29 00:59:00,15,0.000,0.000,NaN

In [16]:
df=df.drop(columns=["max_t","n","apparent_power","pf","regname"])

In [17]:
df.head()

    ee_site_id                min_t  power
10        1566  2018-08-29 23:45:00  1.322
11        8661  2018-08-29 00:00:00  0.000
12        8661  2018-08-29 00:15:00  0.000
13        8661  2018-08-29 00:30:00  0.000
14        8661  2018-08-29 00:45:00  0.000

In [18]:
df.rename(columns={"ee_site_id":"site_id","min_t":"Timestamp"},inplace=True)

In [19]:
df.head()

    site_id            Timestamp  power
10     1566  2018-08-29 23:45:00  1.322
11     8661  2018-08-29 00:00:00  0.000
12     8661  2018-08-29 00:15:00  0.000
13     8661  2018-08-29 00:30:00  0.000
14     8661  2018-08-29 00:45:00  0.000

In [21]:
df['Timestamp'] = pd.to_datetime(df.Timestamp)

In [22]:

df_pivoted = df.pivot(index='Timestamp', columns='site_id', values='power')

df_pivoted = df_pivoted.reset_index()
df_pivoted

site_id,Timestamp,971,976,981,1016,1046,1566,1726,2141,2236,...,9041,9251,9291,9896,10076,10206,10536,10936,11061,11226
0,2018-08-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-08-29 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-08-29 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-08-29 00:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-08-29 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11979,2018-12-31 22:45:00,1.356,1.384,3.583,0.205,3.003,1.931,6.445,0.350,0.179,...,4.226,0.429,5.439,0.541,3.547,1.269,0.816,3.413,1.810,0.598
11980,2018-12-31 23:00:00,0.840,0.559,0.239,1.330,2.119,0.663,7.095,0.417,0.318,...,7.577,1.492,3.028,0.307,1.591,1.411,0.782,0.713,1.565,0.682
11981,2018-12-31 23:15:00,0.555,1.719,4.217,1.534,7.441,0.640,7.064,2.033,0.058,...,6.962,5.024,0.688,0.658,4.466,1.070,0.960,1.136,1.527,0.634
11982,2018-12-31 23:30:00,1.231,1.628,0.235,2.083,5.038,0.692,6.354,1.099,0.086,...,6.881,3.768,0.961,0.844,5.741,1.179,0.885,0.450,2.119,2.431
11983,2018-12-31 23:45:00,1.166,2.338,5.027,0.673,4.677,0.643,6.604,0.413,0.194,...,8.384,0.959,0.666,0.909,0.304,1.336,0.840,1.092,1.941,0.745

In [23]:
df= df_pivoted.rename_axis(None, axis=1)

In [27]:
df.index = df.Timestamp
df

,Timestamp,971,976,981,1016,1046,1566,1726,2141,2236,...,9041,9251,9291,9896,10076,10206,10536,10936,11061,11226
Timestamp,,,,,,,,,,,,,,,,,,,,,
2018-08-29 00:00:00,2018-08-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-29 00:15:00,2018-08-29 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-29 00:30:00,2018-08-29 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-29 00:45:00,2018-08-29 00:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-29 01:00:00,2018-08-29 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-31 22:45:00,2018-12-31 22:45:00,1.356,1.384,3.583,0.205,3.003,1.931,6.445,0.350,0.179,...,4.226,0.429,5.439,0.541,3.547,1.269,0.816,3.413,1.810,0.598
2018-12-31 23:00:00,2018-12-31 23:00:00,0.840,0.559,0.239,1.330,2.119,0.663,7.095,0.417,0.318,...,7.577,1.492,3.028,0.307,1.591,1.411,0.782,0.713,1.565,0.682
2018-12-31 23:15:00,2018-12-31 23:15:00,0.555,1.719,4.217,1.534,7.441,0.640,7.064,2.033,0.058,...,6.962,5.024,0.688,0.658,4.466,1.070,0.960,1.136,1.527,0.634
2018-12-31 23:30:00,2018-12-31 23:30:00,1.231,1.628,0.235,2.083,5.038,0.692,6.354,1.099,0.086,...,6.881,3.768,0.961,0.844,5.741,1.179,0.885,0.450,2.119,2.431
2018-12-31 23:45:00,2018-12-31 23:45:00,1.166,2.338,5.027,0.673,4.677,0.643,6.604,0.413,0.194,...,8.384,0.959,0.666,0.909,0.304,1.336,0.840,1.092,1.941,0.745

In [35]:
df.drop(columns='Timestamp', axis=1, inplace=True)
df

,971,976,981,1016,1046,1566,1726,2141,2236,2311,...,9041,9251,9291,9896,10076,10206,10536,10936,11061,11226
Timestamp,,,,,,,,,,,,,,,,,,,,,
2018-08-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-29 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-29 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-29 00:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-29 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-31 22:45:00,1.356,1.384,3.583,0.205,3.003,1.931,6.445,0.350,0.179,3.937,...,4.226,0.429,5.439,0.541,3.547,1.269,0.816,3.413,1.810,0.598
2018-12-31 23:00:00,0.840,0.559,0.239,1.330,2.119,0.663,7.095,0.417,0.318,4.192,...,7.577,1.492,3.028,0.307,1.591,1.411,0.782,0.713,1.565,0.682
2018-12-31 23:15:00,0.555,1.719,4.217,1.534,7.441,0.640,7.064,2.033,0.058,5.861,...,6.962,5.024,0.688,0.658,4.466,1.070,0.960,1.136,1.527,0.634
2018-12-31 23:30:00,1.231,1.628,0.235,2.083,5.038,0.692,6.354,1.099,0.086,3.795,...,6.881,3.768,0.961,0.844,5.741,1.179,0.885,0.450,2.119,2.431
2018-12-31 23:45:00,1.166,2.338,5.027,0.673,4.677,0.643,6.604,0.413,0.194,2.831,...,8.384,0.959,0.666,0.909,0.304,1.336,0.840,1.092,1.941,0.745

In [42]:
df.index=pd.to_datetime(df.index)
df_hour=df.resample("h").sum()
df_hour

,971,976,981,1016,1046,1566,1726,2141,2236,2311,...,9041,9251,9291,9896,10076,10206,10536,10936,11061,11226
Timestamp,,,,,,,,,,,,,,,,,,,,,
2018-08-29 00:00:00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2018-08-29 01:00:00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2018-08-29 02:00:00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2018-08-29 03:00:00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2018-08-29 04:00:00,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-31 19:00:00,8.708,10.595,4.723,0.955,13.861,2.390,7.927,1.469,1.626,17.604,...,34.036,1.947,20.368,1.484,9.825,12.453,10.918,2.800,19.076,4.182
2018-12-31 20:00:00,3.922,5.184,2.700,2.541,18.812,2.521,8.075,1.249,0.381,6.786,...,18.930,1.648,3.584,1.360,2.240,5.235,3.421,2.345,14.461,3.485
2018-12-31 21:00:00,3.412,6.120,2.205,0.916,19.034,2.535,30.230,1.485,0.390,12.365,...,20.647,1.443,2.973,1.839,25.741,14.812,4.635,4.048,7.371,2.485
2018-12-31 22:00:00,4.042,5.273,8.445,0.911,8.628,5.868,29.546,4.016,0.382,10.977,...,16.632,1.673,6.701,1.775,16.412,11.242,3.321,6.960,7.762,2.445
2018-12-31 23:00:00,3.792,6.244,9.718,5.620,19.275,2.638,27.117,3.962,0.656,16.679,...,29.804,11.243,5.343,2.718,12.102,4.996,3.467,3.391,7.152,4.492

In [43]:
df_hour.to_csv('C:/Users/Public.machine_2/Documents/datasets/NEEA/processed/NEEA-2018.csv')

In [54]:
df.to_csv('C:/Users/Public.machine_2/Documents/datasets/NEEA/processed/NEEA-2018_15min.csv')

In [58]:
df

,971,976,981,1016,1046,1566,1726,2141,2236,2311,...,9041,9251,9291,9896,10076,10206,10536,10936,11061,11226
Timestamp,,,,,,,,,,,,,,,,,,,,,
2018-08-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-29 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-29 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-29 00:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-29 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-31 22:45:00,1.356,1.384,3.583,0.205,3.003,1.931,6.445,0.350,0.179,3.937,...,4.226,0.429,5.439,0.541,3.547,1.269,0.816,3.413,1.810,0.598
2018-12-31 23:00:00,0.840,0.559,0.239,1.330,2.119,0.663,7.095,0.417,0.318,4.192,...,7.577,1.492,3.028,0.307,1.591,1.411,0.782,0.713,1.565,0.682
2018-12-31 23:15:00,0.555,1.719,4.217,1.534,7.441,0.640,7.064,2.033,0.058,5.861,...,6.962,5.024,0.688,0.658,4.466,1.070,0.960,1.136,1.527,0.634
2018-12-31 23:30:00,1.231,1.628,0.235,2.083,5.038,0.692,6.354,1.099,0.086,3.795,...,6.881,3.768,0.961,0.844,5.741,1.179,0.885,0.450,2.119,2.431
2018-12-31 23:45:00,1.166,2.338,5.027,0.673,4.677,0.643,6.604,0.413,0.194,2.831,...,8.384,0.959,0.666,0.909,0.304,1.336,0.840,1.092,1.941,0.745

In [1]:
import pandas as pd
import glob
import os

In [6]:
files_list = glob.glob("/home/user/New_Buildings_Datasets/Residential/NEEA/processed/hourly/*.csv")
files_list

['/home/user/New_Buildings_Datasets/Residential/NEEA/processed/hourly/NEEA-2019_na.csv',
 '/home/user/New_Buildings_Datasets/Residential/NEEA/processed/hourly/NEEA-2018_na.csv',
 '/home/user/New_Buildings_Datasets/Residential/NEEA/processed/hourly/NEEA-2020_na.csv']

In [7]:
for file in files_list:
    df = pd.read_csv(file)
    df.set_index("Timestamp", inplace=True)
    filename = os.path.basename(file).split(".")[0]
    df.to_parquet(f"/home/user/New_Buildings_Datasets/Residential/NEEA/processed/hourly/parquet_files/{filename}.parquet")