In [1]:
import pandas as pd
import os
import glob

In [10]:
file = 'csv/electricity_10min.csv'

In [11]:
df = pd.read_csv(file)
df

                        dt  Meta_idMeta        Watt  idElectricity
0      2016-02-17 00:00:00         1008  605.400000        5875810
1      2016-02-17 00:10:00         1008  580.650000        5875811
2      2016-02-17 00:20:00         1008  539.475000        5875812
3      2016-02-17 00:30:00         1008  513.375000        5875813
4      2016-02-17 00:40:00         1008  542.275000        5875814
...                    ...          ...         ...            ...
52219  2019-01-16 20:20:00         3857  560.773000        5939118
52220  2019-01-16 20:30:00         3857  470.290667        5939119
52221  2019-01-16 20:40:00         3857  358.469833        5939120
52222  2019-01-16 20:50:00         3857  544.433167        5939121
52223  2019-01-16 21:00:00         3857  427.085333        5939122

[52224 rows x 4 columns]

In [12]:
meta = 'csv/meta.csv'

In [14]:
df_meta = pd.read_csv(meta)
df_meta

      idMeta CollectionDate DataType  Household_idHousehold  Quality
0       1008     17/02/2016        E                   1084     24.0
1       1024     03/03/2016        E                   1508     24.0
2       1025     08/03/2016        E                   1509     24.0
3       1026     09/03/2016        E                   1510     24.0
4       1029     16/03/2016        E                   1516     24.0
...      ...            ...      ...                    ...      ...
1103    3880     16/01/2019        A                  11358     31.0
1104    3881     16/01/2019        E                  11358     28.0
1105    3888     18/01/2019        A                  11312      NaN
1106    3889     18/01/2019        A                  11312      NaN
1107    3890     18/01/2019        E                  11312      NaN

[1108 rows x 5 columns]

In [16]:
df['House'] = df.Meta_idMeta.map(df_meta.set_index('idMeta')['Household_idHousehold'])
df

                        dt  Meta_idMeta        Watt  idElectricity  House
0      2016-02-17 00:00:00         1008  605.400000        5875810   1084
1      2016-02-17 00:10:00         1008  580.650000        5875811   1084
2      2016-02-17 00:20:00         1008  539.475000        5875812   1084
3      2016-02-17 00:30:00         1008  513.375000        5875813   1084
4      2016-02-17 00:40:00         1008  542.275000        5875814   1084
...                    ...          ...         ...            ...    ...
52219  2019-01-16 20:20:00         3857  560.773000        5939118  11317
52220  2019-01-16 20:30:00         3857  470.290667        5939119  11317
52221  2019-01-16 20:40:00         3857  358.469833        5939120  11317
52222  2019-01-16 20:50:00         3857  544.433167        5939121  11317
52223  2019-01-16 21:00:00         3857  427.085333        5939122  11317

[52224 rows x 5 columns]

In [20]:
df.dt = pd.to_datetime(df.dt)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52224 entries, 0 to 52223
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   dt             52224 non-null  datetime64[ns]
 1   Meta_idMeta    52224 non-null  int64
 2   Watt           52224 non-null  float64
 3   idElectricity  52224 non-null  int64
 4   House          52224 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 2.0 MB

In [22]:
final_df = df.pivot_table(index='dt', columns='House', values='Watt')
final_df

House,1077,1084,1508,1509,1510,1511,1512,1513,1514,1516,...,11108,11214,11219,11247,11308,11313,11317,11329,11345,11358
dt,,,,,,,,,,,,,,,,,,,,,
2016-02-17 00:00:00,NaN,605.400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-17 00:10:00,NaN,580.650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-17 00:20:00,NaN,539.475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-17 00:30:00,NaN,513.375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-17 00:40:00,NaN,542.275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-01-17 20:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1168.614667
2019-01-17 20:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1702.604000
2019-01-17 20:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,900.227833
2019-01-17 20:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,499.478667
2019-01-17 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500.471014

In [23]:
final_df = final_df.reset_index()
final_df = final_df.rename_axis(None, axis=1)
final_df

,dt,1077,1084,1508,1509,1510,1511,1512,1513,1514,...,11108,11214,11219,11247,11308,11313,11317,11329,11345,11358
0,2016-02-17 00:00:00,NaN,605.400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-02-17 00:10:00,NaN,580.650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-02-17 00:20:00,NaN,539.475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-02-17 00:30:00,NaN,513.375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-02-17 00:40:00,NaN,542.275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27927,2019-01-17 20:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1168.614667
27928,2019-01-17 20:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1702.604000
27929,2019-01-17 20:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,900.227833
27930,2019-01-17 20:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,499.478667
27931,2019-01-17 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500.471014

In [26]:
final_df.rename(columns={'dt': 'Timestamp'}, inplace=True)
final_df

,Timestamp,1077,1084,1508,1509,1510,1511,1512,1513,1514,...,11108,11214,11219,11247,11308,11313,11317,11329,11345,11358
0,2016-02-17 00:00:00,NaN,605.400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-02-17 00:10:00,NaN,580.650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-02-17 00:20:00,NaN,539.475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-02-17 00:30:00,NaN,513.375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-02-17 00:40:00,NaN,542.275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27927,2019-01-17 20:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1168.614667
27928,2019-01-17 20:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1702.604000
27929,2019-01-17 20:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,900.227833
27930,2019-01-17 20:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,499.478667
27931,2019-01-17 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500.471014

In [28]:
final_df.set_index('Timestamp', inplace=True)

In [31]:
final_df_new = final_df / 1000
final_df_new

,1077,1084,1508,1509,1510,1511,1512,1513,1514,1516,...,11108,11214,11219,11247,11308,11313,11317,11329,11345,11358
Timestamp,,,,,,,,,,,,,,,,,,,,,
2016-02-17 00:00:00,NaN,0.605400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-17 00:10:00,NaN,0.580650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-17 00:20:00,NaN,0.539475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-17 00:30:00,NaN,0.513375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-17 00:40:00,NaN,0.542275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-01-17 20:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.168615
2019-01-17 20:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.702604
2019-01-17 20:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.900228
2019-01-17 20:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.499479
2019-01-17 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.500471

In [32]:
final_df_new.columns = final_df_new.columns.astype(str)
final_df_new

,1077,1084,1508,1509,1510,1511,1512,1513,1514,1516,...,11108,11214,11219,11247,11308,11313,11317,11329,11345,11358
Timestamp,,,,,,,,,,,,,,,,,,,,,
2016-02-17 00:00:00,NaN,0.605400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-17 00:10:00,NaN,0.580650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-17 00:20:00,NaN,0.539475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-17 00:30:00,NaN,0.513375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-17 00:40:00,NaN,0.542275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-01-17 20:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.168615
2019-01-17 20:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.702604
2019-01-17 20:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.900228
2019-01-17 20:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.499479
2019-01-17 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.500471

In [33]:
final_df_30min = final_df_new.resample('30min').sum(min_count=1)
final_df_30min

,1077,1084,1508,1509,1510,1511,1512,1513,1514,1516,...,11108,11214,11219,11247,11308,11313,11317,11329,11345,11358
Timestamp,,,,,,,,,,,,,,,,,,,,,
2016-02-17 00:00:00,NaN,1.725525,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-17 00:30:00,NaN,1.537125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-17 01:00:00,NaN,1.220975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-17 01:30:00,NaN,0.576000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-17 02:00:00,NaN,0.601625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-01-17 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.639872
2019-01-17 19:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.670973
2019-01-17 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.962978
2019-01-17 20:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.102310
2019-01-17 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.500471

In [34]:
final_df_30min.to_csv("/home/user/New_Buildings_Datasets/New-Bs/METER/processed/30min/METER-30min.csv")

In [35]:
final_df_1h = final_df_new.resample('1H').sum(min_count=1)
final_df_1h

,1077,1084,1508,1509,1510,1511,1512,1513,1514,1516,...,11108,11214,11219,11247,11308,11313,11317,11329,11345,11358
Timestamp,,,,,,,,,,,,,,,,,,,,,
2016-02-17 00:00:00,NaN,3.262650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-17 01:00:00,NaN,1.796975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-17 02:00:00,NaN,1.198025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-17 03:00:00,NaN,1.153325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-17 04:00:00,NaN,1.629150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-01-17 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.461683
2019-01-17 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.708172
2019-01-17 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.310844
2019-01-17 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.065288
2019-01-17 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.500471

In [36]:
final_df_1h.to_csv("/home/user/New_Buildings_Datasets/New-Bs/METER/processed/hourly/METER-1H.csv")

In [2]:
df = pd.read_csv("/home/user/New_Buildings_Datasets/New-Bs/METER/processed/hourly/METER-1H.csv")
df.set_index("Timestamp", inplace=True)
df

,1077,1084,1508,1509,1510,1511,1512,1513,1514,1516,...,11108,11214,11219,11247,11308,11313,11317,11329,11345,11358
Timestamp,,,,,,,,,,,,,,,,,,,,,
2016-02-17 00:00:00,NaN,3.262650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-17 01:00:00,NaN,1.796975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-17 02:00:00,NaN,1.198025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-17 03:00:00,NaN,1.153325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-17 04:00:00,NaN,1.629150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-01-17 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.461683
2019-01-17 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.708172
2019-01-17 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.310844
2019-01-17 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.065288
2019-01-17 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.500471

In [3]:
gh = {}
for id in df.columns:
    gh[id] = (df[id].isna().sum() / df.shape[0]) * 100
gh

{'1077': 99.88663904307717,
 '1084': 99.90618403565007,
 '1508': 99.90618403565007,
 '1509': 99.90618403565007,
 '1510': 99.9022750371355,
 '1511': 99.9022750371355,
 '1512': 99.9022750371355,
 '1513': 99.9022750371355,
 '1514': 99.9022750371355,
 '1516': 99.9022750371355,
 '1517': 99.9022750371355,
 '1518': 99.9022750371355,
 '1519': 99.9022750371355,
 '4949': 99.9022750371355,
 '4961': 99.88663904307717,
 '4984': 99.88663904307717,
 '4996': 99.88663904307717,
 '5004': 99.88663904307717,
 '5009': 99.88663904307717,
 '5018': 99.88663904307717,
 '5079': 99.88663904307717,
 '5098': 99.88663904307717,
 '5112': 99.88663904307717,
 '5140': 99.88663904307717,
 '5156': 99.88663904307717,
 '7926': 99.878821046048,
 '7929': 99.88273004456258,
 '7930': 99.878821046048,
 '7932': 99.878821046048,
 '7936': 99.878821046048,
 '7938': 99.9022750371355,
 '7939': 99.9022750371355,
 '7948': 99.9022750371355,
 '7949': 99.9022750371355,
 '7950': 99.88663904307717,
 '7951': 99.88663904307717,
 '7956': 99.9022750371355,
 '7959': 99.88663904307717,
 '7969': 99.88273004456258,
 '7970': 99.88273004456258,
 '7971': 99.878821046048,
 '7973': 99.88273004456258,
 '7974': 99.88663904307717,
 '7975': 99.88663904307717,
 '7981': 99.88663904307717,
 '7982': 99.88663904307717,
 '7989': 99.88663904307717,
 '7990': 99.88663904307717,
 '7991': 99.88663904307717,
 '7992': 99.88663904307717,
 '7995': 99.88663904307717,
 '7997': 99.88663904307717,
 '7999': 99.88663904307717,
 '8001': 99.88663904307717,
 '8002': 99.88663904307717,
 '8003': 99.9022750371355,
 '8005': 99.88663904307717,
 '8007': 99.88663904307717,
 '8008': 99.88663904307717,
 '8009': 99.88663904307717,
 '8012': 99.88663904307717,
 '8014': 99.88663904307717,
 '8017': 99.88663904307717,
 '8018': 99.88663904307717,
 '8019': 99.88663904307717,
 '8020': 99.88663904307717,
 '8023': 99.88663904307717,
 '8024': 99.88663904307717,
 '8025': 99.87100304901884,
 '8027': 99.88663904307717,
 '8031': 99.88663904307717,
 '8032': 99.88663904307717,
 '8034': 99.88663904307717,
 '8035': 99.88663904307717,
 '8036': 99.88663904307717,
 '8037': 99.88663904307717,
 '8038': 99.88663904307717,
 '8039': 99.88663904307717,
 '8042': 99.88663904307717,
 '8043': 99.88663904307717,
 '8045': 99.88663904307717,
 '8046': 99.88663904307717,
 '8048': 99.88663904307717,
 '8050': 99.88663904307717,
 '8051': 99.88663904307717,
 '8052': 99.88663904307717,
 '8053': 99.88663904307717,
 '8054': 99.88663904307717,
 '8055': 99.91009303416465,
 '8056': 99.88663904307717,
 '8057': 99.88663904307717,
 '8058': 99.88663904307717,
 '8059': 99.88663904307717,
 '8062': 99.88663904307717,
 '8071': 99.88663904307717,
 '8077': 99.88663904307717,
 '8080': 99.88663904307717,
 '8082': 99.9022750371355,
 '8083': 99.88663904307717,
 '8084': 99.44101321241497,
 '8090': 99.88663904307717,
 '8092': 99.88663904307717,
 '8095': 99.88663904307717,
 '8099': 99.88663904307717,
 '8100': 99.88663904307717,
 '8105': 99.88663904307717,
 '8110': 99.87100304901884,
 '8111': 99.88663904307717,
 '8112': 99.88663904307717,
 '8114': 99.88663904307717,
 '8115': 99.88663904307717,
 '8117': 99.88663904307717,
 '8118': 99.88663904307717,
 '8122': 99.88663904307717,
 '8124': 99.88663904307717,
 '8126': 99.88663904307717,
 '8128': 99.88663904307717,
 '8134': 99.88663904307717,
 '8135': 99.88663904307717,
 '8136': 99.88663904307717,
 '8139': 99.88663904307717,
 '8140': 99.88663904307717,
 '8143': 99.88663904307717,
 '8144': 99.9022750371355,
 '8147': 99.88663904307717,
 '8150': 99.88663904307717,
 '8151': 99.88663904307717,
 '8152': 99.88663904307717,
 '8154': 99.88663904307717,
 '8155': 99.88663904307717,
 '8157': 99.88663904307717,
 '8159': 99.88663904307717,
 '8160': 99.88663904307717,
 '8162': 99.9022750371355,
 '8167': 99.88663904307717,
 '8171': 99.88663904307717,
 '8172': 99.88663904307717,
 '8174': 99.89054804159174,
 '8175': 99.88663904307717,
 '8179': 99.9022750371355,
 '8180': 99.88663904307717,
 '8185': 99.88663904307717,
 '8191': 99.88663904307717,
 '8195': 99.88663904307717,
 '8198': 99.88663904307717,
 '8201': 99.88663904307717,
 '8206': 99.9022750371355,
 '8208': 99.9022750371355,
 '8209': 99.88663904307717,
 '8210': 99.88663904307717,
 '8211': 99.88663904307717,
 '8214': 99.88663904307717,
 '8215': 99.88663904307717,
 '8222': 99.9022750371355,
 '8227': 99.9022750371355,
 '8228': 99.88663904307717,
 '8229': 99.88663904307717,
 '8231': 99.88663904307717,
 '8232': 99.9022750371355,
 '8234': 99.88663904307717,
 '8260': 99.88663904307717,
 '8268': 99.88663904307717,
 '8269': 99.88663904307717,
 '8270': 99.88663904307717,
 '8285': 99.88663904307717,
 '8365': 99.88663904307717,
 '8366': 99.9022750371355,
 '8374': 99.88663904307717,
 '8375': 99.88663904307717,
 '8378': 99.88663904307717,
 '8392': 99.88663904307717,
 '8405': 99.88663904307717,
 '8410': 99.88663904307717,
 '8424': 99.88663904307717,
 '8428': 99.88663904307717,
 '8435': 99.88663904307717,
 '8450': 99.88663904307717,
 '8468': 99.88663904307717,
 '8501': 99.88663904307717,
 '8512': 99.88663904307717,
 '8534': 99.88663904307717,
 '8535': 99.88663904307717,
 '8540': 99.88663904307717,
 '8549': 99.89054804159174,
 '8555': 99.88663904307717,
 '8558': 99.88663904307717,
 '8579': 99.88663904307717,
 '8580': 99.88663904307717,
 '8590': 99.88663904307717,
 '8598': 99.88663904307717,
 '8641': 99.88663904307717,
 '8646': 99.88663904307717,
 '8711': 99.88663904307717,
 '8741': 99.88663904307717,
 '8743': 99.88663904307717,
 '8799': 99.88663904307717,
 '8824': 99.88663904307717,
 '8826': 99.88663904307717,
 '8828': 99.88663904307717,
 '8834': 99.88663904307717,
 '8839': 99.88663904307717,
 '8844': 99.88663904307717,
 '8845': 99.88663904307717,
 '8850': 99.88663904307717,
 '8857': 99.88663904307717,
 '8867': 99.88663904307717,
 '8868': 99.88663904307717,
 '8869': 99.88663904307717,
 '8870': 99.88663904307717,
 '8874': 99.88663904307717,
 '8876': 99.88663904307717,
 '8877': 99.88663904307717,
 '8878': 99.88663904307717,
 '8880': 99.88663904307717,
 '8884': 99.88663904307717,
 '8885': 99.88663904307717,
 '8887': 99.88663904307717,
 '8901': 99.88663904307717,
 '8902': 99.88663904307717,
 '8903': 99.88663904307717,
 '8914': 99.88663904307717,
 '8927': 99.88663904307717,
 '8932': 99.88663904307717,
 '8951': 99.88663904307717,
 '9043': 99.88663904307717,
 '9049': 99.88663904307717,
 '9123': 99.88663904307717,
 '9199': 99.88663904307717,
 '9287': 99.88663904307717,
 '9385': 99.88663904307717,
 '9445': 99.88663904307717,
 '9484': 99.88663904307717,
 '9581': 99.88663904307717,
 '9586': 99.88663904307717,
 '9648': 99.88663904307717,
 '10513': 99.88663904307717,
 '10538': 99.88663904307717,
 '10541': 99.88663904307717,
 '10544': 99.88663904307717,
 '10546': 99.88663904307717,
 '10548': 99.9022750371355,
 '10550': 99.94527402079586,
 '10551': 99.88663904307717,
 '10552': 99.9804550074271,
 '10553': 99.88663904307717,
 '10555': 99.88663904307717,
 '10557': 99.88663904307717,
 '10559': 99.88273004456258,
 '10561': 99.88663904307717,
 '10562': 99.88663904307717,
 '10563': 99.88663904307717,
 '10564': 99.88663904307717,
 '10565': 99.99609100148542,
 '10570': 99.88663904307717,
 '10572': 99.88663904307717,
 '10573': 99.88663904307717,
 '10576': 99.88663904307717,
 '10577': 99.88663904307717,
 '10581': 99.88273004456258,
 '10584': 99.8983660386209,
 '10586': 99.88663904307717,
 '10588': 99.88663904307717,
 '10590': 99.88663904307717,
 '10592': 99.88663904307717,
 '10600': 99.88663904307717,
 '10603': 99.88663904307717,
 '10663': 99.88663904307717,
 '10718': 99.88663904307717,
 '10719': 99.88663904307717,
 '10720': 99.88663904307717,
 '10721': 99.88663904307717,
 '10722': 99.88663904307717,
 '10723': 99.89054804159174,
 '10724': 99.88663904307717,
 '10725': 99.88663904307717,
 '10726': 99.93745602376671,
 '10727': 99.88273004456258,
 '10728': 99.88663904307717,
 '10729': 99.88663904307717,
 '10730': 99.88663904307717,
 '10731': 99.88663904307717,
 '10732': 99.88663904307717,
 '10733': 99.88663904307717,
 '10735': 99.88663904307717,
 '10736': 99.93745602376671,
 '10737': 99.88273004456258,
 '10738': 99.88663904307717,
 '10739': 99.88663904307717,
 '10740': 99.88663904307717,
 '10741': 99.88663904307717,
 '10742': 99.88663904307717,
 '10743': 99.88663904307717,
 '10744': 99.88663904307717,
 '10745': 99.8983660386209,
 '11017': 99.88663904307717,
 '11018': 99.88663904307717,
 '11019': 99.88663904307717,
 '11022': 99.88663904307717,
 '11025': 99.88663904307717,
 '11042': 99.88663904307717,
 '11095': 99.88663904307717,
 '11108': 99.88663904307717,
 '11214': 99.88663904307717,
 '11219': 99.88663904307717,
 '11247': 99.88663904307717,
 '11308': 99.88663904307717,
 '11313': 99.88663904307717,
 '11317': 99.88663904307717,
 '11329': 99.88663904307717,
 '11345': 99.88663904307717,
 '11358': 99.88663904307717}

In [4]:
missing_df = pd.DataFrame(gh.items(), columns=['Buildings', 'Percentage'])
missing_df

    Buildings  Percentage
0        1077   99.886639
1        1084   99.906184
2        1508   99.906184
3        1509   99.906184
4        1510   99.902275
..        ...         ...
306     11313   99.886639
307     11317   99.886639
308     11329   99.886639
309     11345   99.886639
310     11358   99.886639

[311 rows x 2 columns]

In [5]:
missing_df['Missing values'] = missing_df['Buildings'].apply(lambda x: df[x].isna().sum())
missing_df

    Buildings  Percentage  Missing values
0        1077   99.886639           25553
1        1084   99.906184           25558
2        1508   99.906184           25558
3        1509   99.906184           25558
4        1510   99.902275           25557
..        ...         ...             ...
306     11313   99.886639           25553
307     11317   99.886639           25553
308     11329   99.886639           25553
309     11345   99.886639           25553
310     11358   99.886639           25553

[311 rows x 3 columns]

In [6]:
missing_df['Total values'] = [len(df)] * len(missing_df)
missing_df

    Buildings  Percentage  Missing values  Total values
0        1077   99.886639           25553         25582
1        1084   99.906184           25558         25582
2        1508   99.906184           25558         25582
3        1509   99.906184           25558         25582
4        1510   99.902275           25557         25582
..        ...         ...             ...           ...
306     11313   99.886639           25553         25582
307     11317   99.886639           25553         25582
308     11329   99.886639           25553         25582
309     11345   99.886639           25553         25582
310     11358   99.886639           25553         25582

[311 rows x 4 columns]

In [7]:
missing_df.to_csv('missing_values.csv', index=False)

In [8]:
missing_df.Percentage.mean()

99.88778283363965

In [9]:
missing_df[missing_df.Percentage > missing_df.Percentage.mean()].shape

(41, 4)

In [4]:
df = pd.read_csv("/home/user/New_Buildings_Datasets/Residential/METER/processed/hourly/METER-1H.csv")
df.set_index("Timestamp", inplace=True)
df

,1077,1084,1508,1509,1510,1511,1512,1513,1514,1516,...,11108,11214,11219,11247,11308,11313,11317,11329,11345,11358
Timestamp,,,,,,,,,,,,,,,,,,,,,
2016-02-17 00:00:00,NaN,3.262650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-17 01:00:00,NaN,1.796975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-17 02:00:00,NaN,1.198025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-17 03:00:00,NaN,1.153325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-17 04:00:00,NaN,1.629150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-01-17 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.461683
2019-01-17 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.708172
2019-01-17 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.310844
2019-01-17 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.065288
2019-01-17 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.500471

In [5]:
df.to_parquet("/home/user/New_Buildings_Datasets/Residential/METER/processed/hourly/METER-1H.parquet")